
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80);">
  <div class="container">
    <h1>Mister Cocktail</h1>
    <p>Change your life and learn some cocktails to do on your own.</p>
    <a href=<%= new_cocktail_path%>>Add New Cocktail</a>
  </div>
</div>
<h1 class="display-2">My list of Cocktails</h1>
  <% @cocktails.each do |cocktail| %>
  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1551538827-9c037cb4f32a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80" />
      <div class="card-product-infos">

      <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>

    </div>
  </div>
  <% end %>





<p><%= link_to "Add New Cocktail", new_cocktail_path %></p>




