<div class="banner d-flex justify-content-start">
  <div class="container">
      <h1>TGIF</h1>
      <p>Thanks God It's Friday</p>
      <p>Create your own collection of cocktails!</p>
      <a class="btn btn-ghost" href="<%= cocktails_path %>">Your cocktails</a>
  </div>
</div>
<h1 class="title-list">New Cocktail</h1>


<%= render "form" %>

<div class="d-flex justify-content-around">
<a class="btn btn-ghost bottom" href="<%= cocktails_path %>">Your cocktails</a>
</div>
<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
