.card {
  margin-top: 6rem;
    margin-bottom: 10rem;
    margin-left: 24rem;
    color: $light-gray;
    border-radius: 6rem;
    background: center;
    border: none;
}
.card-product {
  overflow: hidden;
  height: 14rem;
  width: 23rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 16px;
  background-image: url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  color: $light-gray;
}

.card-product img {
  height: 100%;
  width: 80px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 1.9rem;
  font-weight: normal;
  margin-left: -12px;
  margin-bottom: 8px;
  margin-top: -40px;
}

.card-product h3 {
  font-size: 1rem;
  margin-bottom: -7px;
}

.card-text li {
  font-family: 'quicksand';
  width: 24rem;
  padding: 1rem;

}

.card-text i {
  font-size: 1rem;
  color: $light-gray;
}

.card-product p {
  font-size: 0.7rem;
  line-height: 1.4;
  opacity: .6;
  margin-bottom: 5px;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-title {
  font-family: quicksand;
  text-align: center;
  font-size: 5rem;
}
