// Import your components CSS files here.
@import "alert";
@import "avatars";
@import "button";
@import "card";
@import "footer";
@import "home_page_cards";
@import "modal";
@import "navbar";
@import "searchbar";
@import "show";

body {
margin-top: 10vh;
margin-bottom: 10vh;
font-family: "Roboto Condensed", "sans-serif";
background-color: #ffffff;
color: black;
    h1 {
        text-align: center;
    }
}

form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
}

.form-control {
    height: 3vh;
    width: 60%;
}