// Import your components CSS files here.
@import "alert";
@import "avatars";
@import "button";
@import "card";
@import "footer";
@import "home_page_cards";
@import "navbar";
@import "searchbar";
@import "show";

#new_cocktail {
  width: 70%;
  align-items: center;
}
body {
  background-color: white;
}
.container {
  text-align: center;
}

.form-control {
    height: 3vh;
    width: 100%;
}

.container-fluid {
  margin-top: 25vh;
  max-height: 25vh;
}
