.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 10vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand .nav-img {
  height: 10vh;
}
.navbar-nav .dropdown-menu {
  background-color: grey;
  opacity: 0,8;
  border: 1px solid rgba(44, 63, 47, .5);
  position: absolute;
}

.dropdown-menu{
  background-color: none;
  color: $cocktailor;
  border: 0px;
  text-align: right;
  margin-right: 8px;
}
.dropdown-item{
  padding-right: 12px;
  color: $cocktailor;
  background: white;
  border-bottom: 1px solid rgba(44, 63, 47, .5);
  &:hover{
    color: $cocktailor;
    font-weight: bolder;
  }
  a {
    padding-right: 12px;
  }
}

  