.title-list {
    font-family: Quicksand;
    letter-spacing: 4px;
    line-height: normal;
    margin-left: 5rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    color: #3c3c3c;
}

